@import 'src/styles/settings.scss';

.c-friend-item {
  display: flex;
  padding: $space $space-xl;
  justify-content: space-between;
  align-items: center;

  background-color: $color-gray-0;

  &__avatar {
    width: $space-6xl;
    height: $space-6xl;
    color: $color-brand-700;
  }

  &__user-info-container {
    display: flex;
    gap: $space-xl;
    justify-content: center;
    align-items: center;
  }

  &__user-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: $space-6xl;
  }

  &__button-container {
    display: flex;
    gap: $space;
  }

  &__label {
    color: $color-gray-400;
  }
}
