@import 'src/styles/settings.scss';

.c-button {
  display: flex;
  gap: $space-s;
  align-items: center;
  justify-content: center;

  padding: $space $space-l;

  background: $color-brand-600;
  color: $color-gray-0;
  border-radius: $border-radius-sm;

  font-size: $fs-base;
  cursor: pointer;

  &:hover {
    background: $color-brand-100;
    color: $color-brand-700;
    border: 2px solid $color-brand-700;
  }

  &:disabled {
    opacity: 0.35;
  }

  &--secondary {
    background: $color-gray-700;
    color: $color-gray-0;

    &:hover {
      background: $color-gray-300;
      color: $color-gray-700;
    }
  }

  &--fit-content {
    width: fit-content;
  }

  &--align-right {
    margin-left: auto;
  }
}
