@import 'src/styles/settings.scss';

.c-login-container {
  display: flex;
  justify-content: center;
  align-items: center;

  height: $full-height;

  &__form {
    display: flex;
    flex-direction: column;

    margin: $space-4xl auto;

    width: $width-form;
  }

  &__label {
    margin: $space-s 0 $space;

    text-align: center;
    letter-spacing: $letter-space-small;

    &--bold {
      font-weight: $fw-semi-bold;
      color: $color-brand-700;
    }
  }

  &__error {
    text-align: center;

    color: $color-red-700;
  }
}
