@import 'src/styles/settings.scss';

.c-container {
  display: grid;
  grid-template-columns: $side-bar-width auto;
  column-gap: $space-l;

  padding: 0 $space-l;
  margin: $space auto;
  height: $full-height;

  background-color: transparent;
}
