@import 'src/styles/settings.scss';

.c-input-container {
  display: flex;
  flex-direction: column;

  &__input {
    background-color: $color-brand-50;

    padding: $space-s $space;

    border: $border-tiny solid $color-brand-300;
    border-radius: $border-radius-sm;

    width: $full-width;

    &::placeholder {
      color: $color-brand-300;
    }
  }

  &__label {
    font-weight: $fw-medium;
  }
}
