@import 'src/styles/settings.scss';

.c-app {
  padding: $space-m;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__title {
    font-family: 'Roboto';
    font-weight: $fw-medium;
  }

  &__button-container {
    width: 350px;

    display: flex;
    flex-direction: column;
  }
}
