// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #007bd3;

// Fonts
$font-family: 'Roboto', sans-serif;

$fs-small: 0.75rem; // 12px
$fs-base: 16px;
$fs-medium: 1.25rem; // 20px

// Font weight
$fw-base: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold-light: 700;
$fw-bold: 800;
$fw-extra-bold: 900;

// Spacings
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space: 1rem; // 16px
$space-m: 1.25rem; // 20px
$space-l: 1.5rem; // 24px
