// Colors
$color-black: #000;
$color-white: #fff;
$color-blue: #007bd3;

$color-gray-50: #f9fafb;
$color-gray-200: #e5e5e5;
$color-gray-300: #d4d4d4;
$color-gray-400: #a3a3a3;
$color-gray-500: #737373;
$color-gray-600: #525252;
$color-gray-700: #404040;
$color-gray-800: #262626;
$color-gray-900: #171717;
$color-gray-950: #0a0a0a;

$color-red-100: #fee2e2;
$color-red-300: #fca5a5;
$color-red-700: #b91c1c;

// Fonts
$font-family: 'Roboto', sans-serif;

$fs-small: 0.75rem; // 12px
$fs-base: 16px;
$fs-medium: 1.25rem; // 20px

// Font weight
$fw-base: 400;
$fw-medium: 500;
$fw-semi-bold: 600;
$fw-bold-light: 700;
$fw-bold: 800;
$fw-extra-bold: 900;

// Spacings
$space-xs: 0.25rem; // 4px
$space-s: 0.5rem; // 8px
$space: 1rem; // 16px
$space-m: 1.25rem; // 20px
$space-l: 1.5rem; // 24px
